body {
      padding-top: 50px;
       
       background-repeat: repeat; 
       opacity: 0.9;   
       }   

    #queryText {
      position : relative;
      bottom : 4%;
      padding: 0.3%;
      background : #2e2d32;
      min-width : 200px;
    }

    #queryText  input[style=text] {
      width : 100%;
    }
 


    #queryText form div {
      margin-left: auto;
      margin-right: auto;
    }

    #queryText {
      border : 0px solid black;
      padding: 10px;
    }

    #chat-item {
      border-bottom : 1px solid black;
    }

    #msgItems div img {
      background : blue;
      display : inline;
    }

    #msgItems {
       height: 500px;
       overflow: auto;
       padding: 0px 30px;
       font-size: 120%;
    }
    .hideForm{
      display: none;
    }
    .input-large {
     padding: 5px 150px;
    }